# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/jvm/main/
/build/classes/kotlin/jvm/test/
local.properties
/.kotlin/

# Mac
.DS_Store

# IntelliJ — ignore all IDE config except the shared code style, project icon + name
.idea/*
!.idea/codeStyles/
!.idea/icon.svg
!.idea/.name
